{{#partial "title"}}
    Time2Hack: {{detailsTeam.name}}
{{/partial}}

{{#partial "nav"}}
    <li role="presentation" class=""><a href="/">Home</a></li>
    <li role="presentation" class=""><a href="/about">About Time2Hack</a></li>
    <li role="presentation" class="active"><a href="/teams">Teams</a></li>
{{/partial}}

{{#partial "content"}}
    <form action="/teams/{{detailsTeam.id}}" method="post">
        <label for="teamName">Team name:</label>
        <input type="text" id="teamName" name="teamName" value="{{detailsTeam.name}}">
        <br>
        <hr>
        <label for="teamDescription">Description of your team:</label>
        <input name="teamDescription" id="teamDescription" class="form-control" value="{{detailsTeam.description}}">
        <br>
        <button type="submit" class="btn btn-info">Submit changes</button>
    </form>
    <br>
    <button class="btn-sm btn-danger"><a href="/teams/{{detailsTeam.teamName}}/delete">Delete my team</a></button>
    <hr>
    <ul> Current members:
        {{#each members}}
            <li><input type="text" name="currentMember{{@index}}" value="{{name}}"><button class="btn-sm btn-default"><a href="/teams/{{detailsTeam.id}}/removeMember/{{id}}">Remove Member</a></button></li>
        {{/each}}
    </ul>
    <hr>
    <form action="/teams/{{detailsTeam.id}}/members/add"></form>
        <label for="teamMembers">Add another team member below:</label>
        <br>
        <br>
        <input type="text" name="memberName" id="memberName" placeholder="Name">
        <br>
        <br>
        <label for="memberEmail">Enter new member email:</label>
        <br>
        <br>
        <input type="text" name="memberEmail" id="memberEmail">
        <br>
        <br>
        <label for="memberAbout">Give a few details about yourself:</label>
        <br>
        <br>
        <input type="text" name="memberAbout" id="memberAbout">
        <br>
        <br>
        <button type="submit" class="btn btn-info">Add new member</button>
    </form>
{{/partial}}

{{> layout.hbs}}