{{#partial "title"}}
    Time2Hack: {{detailsTeam.teamName}}
{{/partial}}

{{#partial "nav"}}
    <li role="presentation" class=""><a href="/">Home</a></li>
    <li role="presentation" class=""><a href="/about">About Time2Hack</a></li>
    <li role="presentation" class="active"><a href="/teams">Teams</a></li>
{{/partial}}

{{#partial "content"}}
    <form action="/teams/{{detailsTeam.teamName}}" method="post">
        <label for="teamName">Team name:</label>
        <input type="text" id="teamName" name="teamName" value="{{detailsTeam.teamName}}">
        <br>
        <hr>
        <label for="teamDescription">Description of your team:</label>
        <textarea name="teamDescription" id="teamDescription" class="form-control" value="{{detailsTeam.teamDescription}}" rows="3"></textarea>
        <br>
        <hr>
        <ul> Current members:
            {{#each detailsTeam.members}}
                <li><input type="text" name="currentMember{{@index}}" value="{{this}}"><a href="/teams/{{detailsTeam.teamName}}/remove{{this}}"><button class="btn-sm btn-warning">Remove Member</button></a></li>
            {{/each}}
        </ul>
        <label for="teamMembers">Add your team members below:</label>
        <br>
        <br>
        <input type="text" name="teamMembers" id="teamMembers">
        <br>
        <br>
        <input type="text" name="teamMembers2" id="teamMembers2">
        <br>
        <br>
        <input type="text" name="teamMembers3" id="teamMembers3">
        <br>
        <br>
        <input type="text" name="teamMembers4" id="teamMembers4">
        <br>
        <br>
        <input type="text" name="teamMembers5" id="teamMembers5">
        <br>
        <br>
        <button type="submit" class="btn btn-info">Submit</button>
    </form>
{{/partial}}

{{> layout.hbs}}