{{#partial "title"}}
    Time2Hack: {{detailsTeam.name}}
{{/partial}}

{{#partial "nav"}}
    <li role="presentation" class=""><a href="/">Home</a></li>
    <li role="presentation" class=""><a href="/about">About Time2Hack</a></li>
    <li role="presentation" class="active"><a href="/teams">Teams</a></li>
{{/partial}}

{{#partial "content"}}
    <form action="/teams/{{detailsTeam.id}}" method="post">
        <label for="teamName">Team name:</label>
        <input type="text" id="teamName" name="teamName" value="{{detailsTeam.name}}">
        <br>
        <hr>
        <label for="teamDescription">Description of your team:</label>
        <input name="teamDescription" id="teamDescription" class="form-control" value="{{detailsTeam.description}}">
        <br>
        <button type="submit" class="btn btn-info">Submit changes</button>
    </form>
    <br>
    <button class="btn-sm btn-danger"><a href="/teams/{{detailsTeam.id}}/delete">Delete my team</a></button>
    {{#if members}}
        <hr>
        <ul> Current members:
            {{#each members}}
                <li><input type="text" name="currentMember{{@index}}" value="{{name}}"><button class="btn-sm btn-default"><a href="/teams/{{detailsTeam.id}}/members/{{id}}/delete">Remove Member</a></button></li>
            {{/each}}
        </ul>
    {{/if}}
    <hr>
    <a href="/teams/{{detailsTeam.id}}/members/add"><button class="btn btn-info">Add more members</button></a>
    <button class="btn btn-default"><a href="/teams/{{detailsTeam.id}}">Exit form</a></button>
{{/partial}}

{{> layout.hbs}}