{{#partial "title"}}
    Time2Hack: {{member.name}}
{{/partial}}

{{#partial "nav"}}
    <li role="presentation" class=""><a href="/">Home</a></li>
    <li role="presentation" class=""><a href="/about">About Time2Hack</a></li>
    <li role="presentation" class="active"><a href="/teams">Teams</a></li>
{{/partial}}

{{#partial "content"}}
    <h1>{{member.name}}</h1>
    <br>
    <h2>Email: {{member.email}}</h2>
    <h2><small>About: {{member.about}}</small></h2>
    <h3>Member of team: {{team.name}}</h3>

    <a href="/teams/{{team.id}}/members/{{member.id}}/edit"><button class="btn btn-primary">Edit Member Details</button></a>
    <a href="/teams/{{team.id}}"><button class="btn btn-info">Team details</button></a>
    <a href="/"><button class="btn btn-link">Home</button></a>
{{/partial}}

{{> layout.hbs}}