{{#partial "title"}}
    Time2Hack: {{detailsTeam.teamName}}
{{/partial}}

{{#partial "content"}}
    <h1>{{detailsTeam.teamName}}</h1>
    <br>
    <h3>About us:</h3>
    <h4>{{detailsTeam.teamDescription}}</h4>
    <ul> <h4>Team Members:</h4>
        {{#each detailsTeam.members}}
            <li>{{this}}</li>
        {{/each}}
        <form action="/teams/{{detailsTeam.teamName}}/addMember" method="post">
            <label for="newMember">Add a new member:</label>
            <input type="text" name="newMember" id="newMember">
            <button type="submit" class="btn-sm btn-warning">Add</button>
        </form>
    </ul>
    <a href="/teams/{{detailsTeam.teamName}}/edit"><button class="btn btn-primary">Edit</button></a>
    <a href="/"><button class="btn btn-link">Home</button></a>
{{/partial}}

{{> layout.hbs}}