{{#partial "title"}}
    Time2Hack: {{detailsTeam.name}}
{{/partial}}

{{#partial "nav"}}
    <li role="presentation" class=""><a href="/">Home</a></li>
    <li role="presentation" class=""><a href="/about">About Time2Hack</a></li>
    <li role="presentation" class="active"><a href="/teams">Teams</a></li>
{{/partial}}

{{#partial "content"}}
    <h1>{{detailsTeam.name}}</h1>
    <br>
    <h3>About us:</h3>
    <h4>{{detailsTeam.description}}</h4>
    <ul> <h4>Team Members:</h4>
        {{#each members}}
            <li>
                <h4><small>{{name}}</small></h4>
                <h5>{{email}}</h5>
                <a href="/teams/{{detailsTeam.name}}/members/{{id}}">Details</a>
            </li>
        {{/each}}
        <form action="/teams/{{detailsTeam.teamName}}/addMember" method="post">
            <label for="newMember">Add a new member:</label>
            <input type="text" name="newMember" id="newMember">
            <button type="submit" class="btn-sm btn-warning">Add</button>
        </form>
    </ul>
    <a href="/teams/{{detailsTeam.id}}/edit"><button class="btn btn-primary">Edit</button></a>
    <a href="/"><button class="btn btn-link">Home</button></a>
{{/partial}}

{{> layout.hbs}}